.u-section-1 .u-sheet-1 {
  min-height: 506px;
}

.u-section-1 .u-text-1 {
  font-size: 12.5rem;
  margin: 21px auto 0 0;
}

.u-section-1 .u-custom-html-1 {
  margin-top: 59px;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  margin-bottom: 60px;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 9.375rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 7.8125rem;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 70px;
    height: auto;
    min-height: 139px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 9px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 60px;
  font-size: 12.5rem;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin-top: 51px;
  margin-bottom: 52px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 9.375rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 7.8125rem;
    width: auto;
    margin: 20px auto 0 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 60px;
  font-size: 12.5rem;
}

.u-section-3 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin-top: 43px;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 9.375rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-bottom: 0;
    font-size: 7.8125rem;
    margin-top: 20px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 400px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 60px;
  font-size: 12.5rem;
}

.u-section-4 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin-top: 43px;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 9.375rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-bottom: 0;
    font-size: 7.8125rem;
    margin-top: 20px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 400px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 60px;
  font-size: 12.5rem;
}

.u-section-5 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin: 0 0 1px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 9.375rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 435px;
  }

  .u-section-5 .u-text-1 {
    margin-bottom: 0;
    font-size: 7.8125rem;
    margin-top: 20px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 400px;
}

.u-section-6 .u-text-1 {
  margin-bottom: 60px;
  font-size: 12.5rem;
}

.u-section-6 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin-top: 43px;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    font-size: 9.375rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-bottom: 0;
    font-size: 7.8125rem;
    margin-top: 20px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 400px;
}

.u-section-7 .u-text-1 {
  margin-bottom: 60px;
  font-size: 10rem;
  margin-top: 20px;
}

.u-section-7 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin: 0 0 21px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    margin-bottom: 0;
    font-size: 6.25rem;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 405px;
}

.u-section-8 .u-text-1 {
  margin-bottom: 60px;
  font-size: 10rem;
  margin-top: 20px;
}

.u-section-8 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin: 0 0 26px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    margin-bottom: 0;
    font-size: 6.25rem;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 400px;
}

.u-section-9 .u-text-1 {
  margin-bottom: 60px;
  font-size: 10rem;
  margin-top: 20px;
}

.u-section-9 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin: 0 0 26px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 405px;
  }

  .u-section-9 .u-text-1 {
    margin-bottom: 0;
    font-size: 6.25rem;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 400px;
}

.u-section-10 .u-text-1 {
  margin-bottom: 60px;
  font-size: 10rem;
  margin-top: 20px;
}

.u-section-10 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin: 0 0 21px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    margin-bottom: 0;
    font-size: 6.25rem;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 400px;
}

.u-section-11 .u-text-1 {
  margin-bottom: 60px;
  font-size: 10rem;
  margin-top: 20px;
}

.u-section-11 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin: 0 0 21px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-text-1 {
    margin-bottom: 0;
    font-size: 6.25rem;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 400px;
}

.u-section-12 .u-text-1 {
  margin-bottom: 60px;
  font-size: 10rem;
  margin-top: 20px;
}

.u-section-12 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin: 0 0 21px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-text-1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-text-1 {
    margin-bottom: 0;
    font-size: 6.25rem;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 400px;
}

.u-section-13 .u-text-1 {
  margin-bottom: 60px;
  font-size: 10rem;
  margin-top: 20px;
}

.u-section-13 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin: 0 0 21px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-text-1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-text-1 {
    margin-bottom: 0;
    font-size: 6.25rem;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 400px;
}

.u-section-14 .u-text-1 {
  margin-bottom: 60px;
  font-size: 10rem;
  margin-top: 20px;
}

.u-section-14 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin-top: 58px;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .u-section-14 .u-text-1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-text-1 {
    margin-bottom: 0;
    font-size: 6.25rem;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 400px;
}

.u-section-15 .u-text-1 {
  margin-bottom: 60px;
  font-size: 10rem;
  margin-top: 20px;
}

.u-section-15 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin-top: 59px;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .u-section-15 .u-text-1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-text-1 {
    margin-bottom: 0;
    font-size: 6.25rem;
  }
}.u-section-16 .u-sheet-1 {
  min-height: 400px;
}

.u-section-16 .u-text-1 {
  margin-bottom: 60px;
  font-size: 10rem;
  margin-top: 20px;
}

.u-section-16 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin-top: 44px;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .u-section-16 .u-text-1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-text-1 {
    margin-bottom: 0;
    font-size: 6.25rem;
  }
}.u-section-17 .u-sheet-1 {
  min-height: 400px;
}

.u-section-17 .u-text-1 {
  margin-bottom: 60px;
  font-size: 10rem;
  margin-top: 20px;
}

.u-section-17 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin-top: 66px;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .u-section-17 .u-text-1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-17 .u-text-1 {
    margin-bottom: 0;
    font-size: 6.25rem;
  }
}.u-section-18 .u-sheet-1 {
  min-height: 400px;
}

.u-section-18 .u-text-1 {
  margin-bottom: 60px;
  font-size: 10rem;
  margin-top: 20px;
}

.u-section-18 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin-top: 44px;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .u-section-18 .u-text-1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-18 .u-text-1 {
    margin-bottom: 0;
    font-size: 6.25rem;
  }
}.u-section-19 .u-sheet-1 {
  min-height: 400px;
}

.u-section-19 .u-text-1 {
  margin-bottom: 60px;
  font-size: 10rem;
  margin-top: 20px;
}

.u-section-19 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin-top: 70px;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .u-section-19 .u-text-1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-19 .u-text-1 {
    margin-bottom: 0;
    font-size: 6.25rem;
  }
}.u-section-20 .u-sheet-1 {
  min-height: 400px;
}

.u-section-20 .u-text-1 {
  margin-bottom: 60px;
  font-size: 10rem;
  margin-top: 20px;
}

.u-section-20 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin-top: 38px;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .u-section-20 .u-text-1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-20 .u-text-1 {
    margin-bottom: 0;
    font-size: 6.25rem;
  }
}.u-section-21 .u-sheet-1 {
  min-height: 400px;
}

.u-section-21 .u-text-1 {
  margin-bottom: 60px;
  font-size: 10rem;
  margin-top: 20px;
}

.u-section-21 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin-top: 56px;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .u-section-21 .u-text-1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-21 .u-text-1 {
    margin-bottom: 0;
    font-size: 6.25rem;
  }
}.u-section-22 .u-sheet-1 {
  min-height: 400px;
}

.u-section-22 .u-text-1 {
  margin-bottom: 60px;
  font-size: 10rem;
  margin-top: 20px;
}

.u-section-22 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin-top: 61px;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .u-section-22 .u-text-1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-22 .u-text-1 {
    margin-bottom: 0;
    font-size: 6.25rem;
  }
}.u-section-23 .u-sheet-1 {
  min-height: 400px;
}

.u-section-23 .u-text-1 {
  margin-bottom: 60px;
  font-size: 10rem;
  margin-top: 20px;
}

.u-section-23 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin-top: 39px;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .u-section-23 .u-text-1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-23 .u-text-1 {
    margin-bottom: 0;
    font-size: 6.25rem;
  }
}.u-section-24 .u-sheet-1 {
  min-height: 400px;
}

.u-section-24 .u-text-1 {
  margin-bottom: 60px;
  font-size: 10rem;
  margin-top: 20px;
}

.u-section-24 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin-top: 44px;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .u-section-24 .u-text-1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-24 .u-text-1 {
    margin-bottom: 0;
    font-size: 6.25rem;
  }
}.u-section-25 .u-sheet-1 {
  min-height: 400px;
}

.u-section-25 .u-text-1 {
  margin-bottom: 60px;
  font-size: 10rem;
  margin-top: 20px;
}

.u-section-25 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin: 0 0 21px;
}

@media (max-width: 1199px) {
  .u-section-25 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-25 .u-text-1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-25 .u-text-1 {
    margin-bottom: 0;
    font-size: 6.25rem;
  }
}.u-section-26 .u-sheet-1 {
  min-height: 400px;
}

.u-section-26 .u-text-1 {
  margin-bottom: 60px;
  font-size: 10rem;
  margin-top: 20px;
}

.u-section-26 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin-top: 54px;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .u-section-26 .u-text-1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-26 .u-text-1 {
    margin-bottom: 0;
    font-size: 6.25rem;
  }
}.u-section-27 .u-sheet-1 {
  min-height: 400px;
}

.u-section-27 .u-text-1 {
  margin-bottom: 60px;
  font-size: 10rem;
  margin-top: 20px;
}

.u-section-27 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin-top: 54px;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .u-section-27 .u-text-1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-27 .u-text-1 {
    margin-bottom: 0;
    font-size: 6.25rem;
  }
}.u-section-28 .u-sheet-1 {
  min-height: 400px;
}

.u-section-28 .u-text-1 {
  margin-bottom: 60px;
  font-size: 10rem;
  margin-top: 20px;
}

.u-section-28 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin-top: 31px;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .u-section-28 .u-text-1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-28 .u-text-1 {
    margin-bottom: 0;
    font-size: 6.25rem;
  }
}.u-section-29 .u-sheet-1 {
  min-height: 400px;
}

.u-section-29 .u-text-1 {
  margin-bottom: 60px;
  font-size: 10rem;
  margin-top: 20px;
}

.u-section-29 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin-top: 48px;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .u-section-29 .u-text-1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-29 .u-text-1 {
    margin-bottom: 0;
    font-size: 6.25rem;
  }
}.u-section-30 .u-sheet-1 {
  min-height: 400px;
}

.u-section-30 .u-text-1 {
  margin-bottom: 60px;
  font-size: 10rem;
  margin-top: 20px;
}

.u-section-30 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin: 0 0 60px;
}

@media (max-width: 1199px) {
  .u-section-30 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-30 .u-text-1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-30 .u-text-1 {
    margin-bottom: 0;
    font-size: 6.25rem;
  }
}.u-section-31 .u-sheet-1 {
  min-height: 400px;
}

.u-section-31 .u-text-1 {
  margin-bottom: 60px;
  font-size: 10rem;
  margin-top: 20px;
}

.u-section-31 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin-top: 31px;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .u-section-31 .u-text-1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-31 .u-text-1 {
    margin-bottom: 0;
    font-size: 6.25rem;
  }
}.u-section-32 .u-sheet-1 {
  min-height: 400px;
}

.u-section-32 .u-text-1 {
  margin-bottom: 60px;
  font-size: 10rem;
  margin-top: 20px;
}

.u-section-32 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin-top: 45px;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .u-section-32 .u-text-1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-32 .u-text-1 {
    margin-bottom: 0;
    font-size: 6.25rem;
  }
}.u-section-33 .u-sheet-1 {
  min-height: 400px;
}

.u-section-33 .u-text-1 {
  margin-bottom: 60px;
  font-size: 10rem;
  margin-top: 20px;
}

.u-section-33 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin-top: 44px;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .u-section-33 .u-text-1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-33 .u-text-1 {
    margin-bottom: 0;
    font-size: 6.25rem;
  }
}.u-section-34 .u-sheet-1 {
  min-height: 400px;
}

.u-section-34 .u-text-1 {
  margin-bottom: 60px;
  font-size: 10rem;
  margin-top: 20px;
}

.u-section-34 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin: 0 0 21px;
}

@media (max-width: 1199px) {
  .u-section-34 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-34 .u-text-1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-34 .u-text-1 {
    margin-bottom: 0;
    font-size: 6.25rem;
  }
}.u-section-35 .u-sheet-1 {
  min-height: 400px;
}

.u-section-35 .u-text-1 {
  margin-bottom: 60px;
  font-size: 10rem;
  margin-top: 20px;
}

.u-section-35 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin: 0 0 21px;
}

@media (max-width: 1199px) {
  .u-section-35 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-35 .u-text-1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-35 .u-text-1 {
    margin-bottom: 0;
    font-size: 6.25rem;
  }
}.u-section-36 .u-sheet-1 {
  min-height: 400px;
}

.u-section-36 .u-text-1 {
  margin-bottom: 60px;
  font-size: 10rem;
  margin-top: 20px;
}

.u-section-36 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin-top: 90px;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .u-section-36 .u-text-1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-36 .u-sheet-1 {
    min-height: 405px;
  }

  .u-section-36 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}.u-section-37 .u-sheet-1 {
  min-height: 400px;
}

.u-section-37 .u-text-1 {
  margin-bottom: 60px;
  font-size: 10rem;
  margin-top: 20px;
}

.u-section-37 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin: 0 0 60px;
}

@media (max-width: 1199px) {
  .u-section-37 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-37 .u-text-1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-37 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }

  .u-section-37 .u-custom-html-1 {
    margin-top: 45px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-38 .u-sheet-1 {
  min-height: 468px;
}

.u-section-38 .u-text-1 {
  margin-bottom: 60px;
  font-size: 10rem;
  margin-top: 20px;
}

.u-section-38 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin-top: 104px;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .u-section-38 .u-text-1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-38 .u-text-1 {
    margin-bottom: 0;
    font-size: 4.5rem;
  }
}.u-section-39 .u-sheet-1 {
  min-height: 400px;
}

.u-section-39 .u-text-1 {
  margin-bottom: 60px;
  font-size: 10rem;
  margin-top: 20px;
}

.u-section-39 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin: 0 0 60px;
}

@media (max-width: 1199px) {
  .u-section-39 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-39 .u-text-1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-39 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
}.u-section-40 .u-sheet-1 {
  min-height: 400px;
}

.u-section-40 .u-text-1 {
  margin-bottom: 60px;
  font-size: 10rem;
  margin-top: 20px;
}

.u-section-40 .u-custom-html-1 {
  height: auto;
  min-height: 139px;
  margin: 0 0 60px;
}

@media (max-width: 1199px) {
  .u-section-40 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-40 .u-text-1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-40 .u-text-1 {
    margin-bottom: 0;
    font-size: 4.5rem;
  }
}.editable-who {
    color: #3498db;
    border-bottom: 1px dashed #3498db;
    padding: 0 5px;
    outline: none;
    cursor: text;
}
.editable-who:focus {
    background-color: #f9f9f9;
    border-bottom-style: solid;
} 